<div class="form-group">
    <label for="name">Room Name</label>
    <input required type="text" name="name" value="<%= room.roomName %>" id="name" class="form-control">
</div>
<div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" class="form-control"><%= room.description %></textarea>
</div>